<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>播放</title>
        <style type="text/css">

        </style>
    </head>
    <body>
        <!-- 播放音频的标签，controls是否展示音频，支持常见格式mp3/m4a -->
        <label>测试音频·绝对路径</label>
        <audio controls="controls" src="http://act.codeboy.com/doc/consultation/audio/1.m4a"></audio>
        <label>测试音频·相对路径</label>
        <audio controls="controls" src="../../audio/1.m4a"></audio>
        <div></div>
        <label>测试视频·绝对路径</label>
        <video width="300" controls="controls" src="http://act.codeboy.com/tools/mp4/stu/2008-01.mp4"></video>
        <label>测试视频·相对路径</label>
        <video width="300" controls="controls" src="../../video/2008-01.mp4"></video>
    </body>
</html>